/* 
    Created on : 23-ene-2019, 13:08:48
    Author     : daw2
*/
body{
    margin: 0px;
    margin-top: -20px;
    background-color: honeydew;
    font-family: 'Montserrat', sans-serif;
}

header{
    margin-top: 20px;
    text-align: center;
    height: 60px;
    color: dimgrey;
    background-image: linear-gradient(lawngreen, honeydew);
    -moz-background-image: linear-gradient(lawngreen, honeydew);
    
}

i{
    text-decoration: none;
    color: dimgrey;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: dimgrey;
    background-image: linear-gradient(honeydew, lawngreen);
}
