/* 
    Created on : 23-ene-2019, 13:08:48
    Author     : daw2
*/
body{
    margin: 0px;
    background-color: honeydew;
}

header{
    text-align: center;
    height: 60px;
    color: dimgrey;
    background-image: lineaar-gradient(lawngreen, honeydew);
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: dimgrey;
    background-image: lineaar-gradient(honeydew, lawngreen);
}
