/* 
    Created on : 23-ene-2019, 13:08:48
    Author     : daw2
*/
body{
    margin: 0px;
    margin-top: -22.5px;
    background-color: honeydew;
    font-family: 'Montserrat', sans-serif;
}

header{
    margin-top: 20px;
    text-align: center;
    height: 60px;
    color: dimgrey;
    background-image: linear-gradient(lawngreen, honeydew);
    -moz-background-image: linear-gradient(lawngreen, honeydew);
    
}

#login{
    width: 350px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    color: dimgrey;
}

legend{
    font-size: 1.5em;
    font-weight: bold;
}

#usuario, #password{
    position: absolute;
    left: 100px;
}

#salir{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4em;
}

.errores{
    color: red;
    text-align: center;
}

[type="submit"]{
    font-size: 1.1em;
    color: dimgrey;
    background-color: honeydew;
    border-radius: 10px;
}

i{
    text-decoration: none;
    color: dimgrey;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: dimgrey;
    background-image: linear-gradient(honeydew, lawngreen);
}
